@using System.ComponentModel.DataAnnotations
@using System.Security.Claims


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DivarClone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DivarClone.styles.css" asp-append-version="true" />
    @* کد فونت از گوگل *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@300&family=Noto+Naskh+Arabic:wght@400..700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>

<style>

    *{
        font-family: "Noto Naskh Arabic", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    html, body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    footer {
        height: 8vh;
        background-color: #f8f9fa;
        text-align: center;
        padding: 1rem;
        position: relative;
        bottom: 0;
        width: 100%;
    }

    #adminDash * {
        font-family: " Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
</style>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            
                            <a class="nav-link text-dark"
                               asp-area=""
                               asp-controller="Home"
                               asp-action="Index"
                               style="display: inline-block; height: 50px; width: 80px;
                                  background-image: url('/icon.png');
                                  background-size: contain;
                                  background-repeat: no-repeat;">
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="btn btn-danger ms-2" asp-area="" asp-controller="AddListing" asp-action="Index">ثبت آگهی</a>
                            @if (User.HasClaim(ClaimTypes.Role, "Admin") || User.HasClaim(ClaimTypes.Role, "PrivilagedUser"))
                            {
                                <a class="btn btn-danger ms-2" asp-area="" asp-controller="AddListing" asp-action="CreateSecret">ثبت آگهی خاص</a>
                            }
                        </li>
                    </ul>
                </div>

                <div class="btn-group me-3">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: rgb(220, 53, 69); border: 2px solid white; color: white;">
                        فیلتر کردن نتایج
                    </button>

                    <ul class="dropdown-menu">
                        @foreach (var category in Enum.GetValues(typeof(DivarClone.Models.Category)))
                        {
                            // Use reflection to get the display name of the enum value
                            var displayAttribute = category.GetType()
                            .GetField(category.ToString())
                            .GetCustomAttributes(typeof(DisplayAttribute), false)
                            .FirstOrDefault() as DisplayAttribute;
                            var displayName = displayAttribute?.GetName() ?? category.ToString();

                            <li><button class="dropdown-item" type="button" onclick="filterByCategory('@category')">@displayName</button></li>
                        }
                    </ul>
                </div>

                <div class="input-group" style="width:300px;">
                    <input id="searchFieldInput" type="text" class="form-control" placeholder="آگهی مورد نظر" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="filterByText(document.getElementById('searchFieldInput').value)">جست و جو</button>
                </div>
                <div style="margin-left:40px;">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <button class="btn btn-outline-danger" type="button" onclick="register()">ثبت نام</button>
                        <button class="btn btn-outline-danger" type="button" onclick="login()">ورود</button>
                    }
                    else
                    {
                        <p style="font-size:14px; color:#333; font-weight:bold; padding:5px; background-color:#f0f0f0; border-radius:5px; display:inline-block;">
                            👋 خوش اومدی, @User.Identity.Name!
                        </p>
                        <button class="btn btn-outline-danger" type="button" onclick="logout()">خروج</button>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - DivarClone - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

<script>

    function register() {
        window.location.href = `@Url.Action("RegisterationPage", "Enrollement")`;
    }

    function login() {
        window.location.href = `@Url.Action("UserLogin", "Enrollement")`;
    }

    function logout() {
        window.location.href = `@Url.Action("UserLogout", "Enrollement")`;
    }
</script>

</html>
