@using Microsoft.AspNetCore.Identity
@using DivarClone.Areas.Identity.Data

@inject SignInManager<DivarCloneUser> SignInManager
@inject UserManager<DivarCloneUser> UserManager

<div>
	<style>
        .user-control-menu {
            background-color: rgb(220, 53, 69);
            border: 2px solid white;
            color: white;
            margin-bottom: 5px;
        }

        .user-control-menu:hover {
            background-color: rgb(200, 50, 60);
            color:white;
        }
	</style>
	<div class="list-group">
        <a href="#" class="list-group-item list-group-item-action user-control-menu" onclick=userListings('@UserManager.GetUserName(User)')>آگهی های من</a>

        @if (User.IsInRole("PrivilagedUser") || User.HasClaim("Permission", "CanViewSpecialListing")) {
			<a href="#" class="list-group-item list-group-item-action user-control-menu" onclick=GetSecretListings()>آگهی های خاص</a>
		}

        @if (User.IsInRole("Admin") || User.HasClaim("Permission", "CanViewDashboard"))
        {
            <a href="#" class="list-group-item list-group-item-action user-control-menu" onclick=viewDashboard()>داشبورد ادمین</a>
        }
	</div>
</div>

<script>
    function userListings(username) {
        $.ajax({
            url: '@Url.Action("ShowUserListings", "Home")',
            type: 'GET',
            data: { Username: username },
            success: function (result) {
                $('#listingCard').html(result);
            },
            error: function () {
                alert("کاربر آگهی ندارد");
            }
        });
    }

    function viewDashboard() {
        window.location.href = `@Url.Action("index", "AdminDashboard")`;
    }

    function GetSecretListings() {
        $.ajax({
            url: '@Url.Action("SecretListings", "Home")',
            type: 'GET',
            success: function (result) {
                $('#listingCard').html(result);
            },
            error: function () {
                alert("آگهی خاص وجود ندارد");
            }
        });
    }
</script>