@model DivarClone.Models.Listing //اضافه کردن مدل به ویو

@{
    ViewData["Title"] = "Add New Listing";
}

@if (ViewBag.ModelStateErrors != null)
{
    <div class="alert alert-danger">
        <pre>@ViewBag.ModelStateErrors</pre>
    </div>
}

<div id="formPartial"></div>

@section Scripts{
    <script>
        $('#formPartial').load("/AddListing/FormPartial")
    </script>
}
